<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Instance" value="MSI"/>
		<add key="Database" value="PremiumPhoneShop"/>
		<add key="Username" value="sa"/>
		<add key="Password" value="@SeanHC10"/>
		<add key="Entropy" value=""/>
		<add key="LastWindow" value="MainWindow"/>
		<add key="NumberProductPerPage" value="10"/>
		<add key="OpenLastWindow" value="1"/>
	</appSettings>
</configuration>